    body, html {
        height: 100%;
    }
    .bg {
        /* The image used */
        background-image: url("img/background.jpg.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .center {
        margin-top: 20px;
        text-align: center;
    }
    .box {
      width: 320px;
      height: 320px;
      float: left;
    }